<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module id="about-component">
    <style>
        :host {
            display: block;
            width: 800px;
            vertical-align: top;
            margin-left: auto;
            margin-right: auto;
        }

        my-card {
            --paper-card: {
                margin: 50px;
                
            };
        }     


        h1, h2, div {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }

        h1 { font-size: 32px; }
        h2 { font-size: 24px; }
        h3 { font-size: 19px; }
        h4 { font-size: 16px; }
        h5 { font-size: 13px; }
        h6 { font-size: 11px; }

        .legal {
            color: grey;
        }
        

    </style>
    <template>
        <my-card class="champion-list" elevation="3">
            <div class="card-content">
                <h1>How it was done</h1>
                <h1>TL;DR</h1>
                <div>1. Analyzed 12,000 matches</div>
                <div>2. Determined a core build for each champion in each suitable role</div>
                <div>3. Determined starting items</div>
                <div>4. Determined situational buys</div>
                <div>5. Made it pretty</div>
                <h2>1. Analyzing 12,000 matches</h2>
                <h3>Downloading</h3>
                <p>For every player that ranks master and up in EUW/NA/KR, the most recent 30 Solo-Q games that they played were retrieved and only the ones in patch 5.16 were kept.</p>
                <p>• Found 3514 games in NA (of 970 players), 5212 in EUW (of 1111 players) and 3557 in KR (of 1085 players). The total was 12,283, but only 12,000 were analyzed. </p>

                <h2>2. Determining a core build for each champion in each suitable role</h2>
                <h3>Determining the role</h3>
                <p>Since the match data didn't have a clear role for every player, roles were determined based on minion creep score and jungle creep score.</p>
                <p>Since the game's length affects CS count, the values were normalized by dividing each person's CS by his/her team's total CS.</p>
                <p>Then K-Means clustering was used to determine 3 categories, carries (solo lane and bot carry), junglers and supports.</p> 
                <p>The resulting cluster centers were (0.150, 0.0503), (0.030, 0.349), (0.023, 0.003). The first number is percent of total team minions killed by a certain player and the second number is the percent of total jungle creeps killed. Intuitively, the first one is the cluster of carries, the second is the cluster of junglers and the last one is the cluster of supports.</p>
                <p><a target="_blank" href="http://i.imgur.com/jOzXszi.png">This</a> is a graph of the result. The green, red, blue clusters are junglers, supports and carries respectively.</p>
                
                <h3>Determining build path</h3>
                <h4>Initial attempts</h4>
                <h5>Pure Popularity</h5>
                <p> The initial attempt tallied up which items were picked the most per champion, per role. As predicted, this doesn't work too well, because it doesn't account for the synergy or anti-synergy between items. There is also no notion of sequential order, in other words, the order in which the items should be bought.</p>
                <h5> Markov Chains</h5>
                <p> Another attempt was to use fixed-length markov chains.  Essentially, the next item was determined by what is most bought based on the previous two purchases. The downside of this is that after the initial first and second buy, the algorithm tunnel visions onto a small subset of item choices. This can be attributed to a small dataset.</p>
                <h4>Best attempt</h4>
                <p> The final attempt was a mix of the previous two. It utilized the popularilty of items and accounted for the synergy of items. The heuristic was to add a value to each item based on its relative position with respect to the current items selected thus far.</p>
                <h5> In other words</h5>
                <p> Suppose we already have two items selected in our build X, and are looking for our third. For every item in every build order, if it's not already in X, we assign a value to it. It starts off at a constant value Y and will be reduced based on a number of factors:</p>
                <ul>
                <li>Whether it was bought after the items in X (occurs later in the order sequence)</li>
                <li>Whether it was bought before the items in X (occurs before)</li>
                <li>The relative distance it is away from the items of X</li>
                </ul>
                <p>This produced decent results and provided a sequential build order. (i.e. You can build the items from left to right)</p>


                <h2>3. Determining starting items</h2>
                    <h3>Preprocessing: Determining an initial buy</h3>
                        <p>This was relatively simple to do. To determine the initial buy for a certain player, the match timeline events were iterated through for the first 2 minutes of the game.</p>
                    <h3>Picking the initial buy</h3>
                        <p>The above data was tallied up and for each champion and role, the most popular buy was picked.</p>


                <h2>4. Determining situational buys</h2>
                    <h3>Determining damage composition</h3>
                        <h4>Preprocessing</h4>
                            <p>For every team composition, the total AD/AP damage done to champions was computed and then normalized against the total damage done to champions.</p>
                        <h4> Determining whether a composition is AP or AD-heavy</h4>
                            <p> Again, using K-Means clustering, 3 categories were determined.</p>
                            <p> The resulting centers were (0.482, 0.458), (0.342, 0.609) and (0.626, 0.313). The first number in each pair represents the percentage of total damage to champions that was AD. The second number is for AP.</p>
                            <p> So data points close to the second center would be AP-heavy comps and those close to third would be AD-heavy comps.  It was probably overkill to use clustering to determine these categories, because we're essentially only comparing one attribute. The two numbers are complements of one another (minus the insignificant true damage portion).</p>
                    <h3>Identifying items that work well against AP/AD heavy compositions</h3>
                        <p>Given each team's composition, the items built by the other team were tallied up.</p>
                        <p>If an item was bought more frequently as we progress from AP-heavy to neutral to AD-heavy compositions, it is highly likely that it's good against AD-heavy compositions, so it'd be selected. Vice versa against AP-heavy compositions.</p>
                <h2>5. Making it pretty</h2>
                    <p>Having the items sets is great, but it'd be better if the users can see the result before they download. Therefore, a website was created to easily browse through the item sets. This site was done using Polymer, so it follows a materialistic design. It was my first experience with it.</p>
                    <p>The site actually parses the same JSON file you'd be downloading. There is also a "show JSON" button so that you can see it for yourself and just copy the JSON if you wanted to. The download link leads to the github repository.</p>
                <h2> Notes </h2>
                <ul>
                    <li>When determining items for the core and situational buys, only fully upgraded ones were considered, with some exceptions such as Archangel's Staff, Manamune and Sightstone. Consumables were also ignored. Boots with Enchantments were mapped to their respective ones without the Enchantment.</li>
                    <li>
                        For certain champions, the <a target="_blank" href="../scripts/output/champion_counts.txt">data set</a> was very small compared to others, since they weren't played a lot in the highest tiers. 
                    </li>
                </ul>
                <br>

                <div class="legal">What to Build isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc. </div>
            </div>
        </my-card>
    </template>
    <script>
        Polymer({
            is: 'about-component'
            
        });
    </script>
</dom-module>