<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="championList.html">
<link rel="import" href="itemSetList.html">
<link rel="import" href="aboutComponent.html">

<dom-module id="page-component">
    <style>
        :host {
            display: block; 

        }

        .container {
            position: absolute;
            top: 64px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            min-height: 500px;
        }

        .inner-container {
            width: 1000px;
            position: absolute;
            margin: 0 auto;
            height: 100%;
            left: 0;
            right: 0;
        }

        champion-list, item-set-list {
            height: calc(100% - 20px);
            margin: 10px;
        }

        .title {
            text-align: center;
        }

    </style>
    <template>
        <paper-toolbar>
            <paper-icon-button icon="home" on-tap="onClickHome"></paper-icon-button>
            <paper-icon-button icon="info" on-tap="onClickInfo"></paper-icon-button>
            <div class="title">What to build</div>            
        </paper-toolbar>
        <div class="container" hidden$="{{!showMain}}">
            <div class="inner-container">
                <champion-list selected-index="{{championSelected}}"></champion-list>
            <item-set-list champion-selected="{{championSelected}}"></item-set-list>
            </div>
        </div>
        <about-component hidden$="{{showMain}}">
        </about-component>

    </template>
    <script>
        Polymer({
            is: 'page-component',
            properties: {
                championSelected: {
                    type: String,
                    observer: 'championSelectedChanged'
                },

                showMain: {
                    value: true
                }
            },

            championSelectedChanged: function(n, o) {
                console.log("other", n);
            },

            ready: function() {
                this.championSelected = "Draven";
            },

            onClickInfo: function() {
                this.showMain = false;
            },

            onClickHome: function() {
                this.showMain = true;
            }
        });
    </script>
</dom-module>